body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    margin: 0;
    overflow: hidden;
}

.face {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye {
    width: 25vw;
    height: 35vh;
    background-color: white;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: absolute;
    top: 35%;
    border: 3px solid #333;
    overflow: hidden;
}

.eye.left {
    left: 20%;
}

.eye.right {
    right: 20%;
}

.pupil {
    width: 10vw;
    height: 10vw;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}

.pupil::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 20%;
    width: 2.5vw;
    height: 2.5vw;
    background-color: white;
    border-radius: 50%;
    opacity: 0.9;
}

.mouth {
    position: absolute;
    bottom: 15%;
    width: 20vw;
    height: 10vh;
    border: 6px solid white;
    border-color: transparent transparent white transparent;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%);
    left: 50%;
}

.eye.blink {
    animation: blink 0.4s ease-in-out;
}

@keyframes blink {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(0.1); }
    100% { transform: scaleY(1); }
}